<div class="original-attributes">
   <mat-grid-list gutterSize="2em" cols="3" rowHeight="35vh">
      <mat-grid-tile>
        <div class="data-base">
          <div class="drag-arff">
            <qosc-drag-and-drop></qosc-drag-and-drop>
            <mat-progress-bar mode="determinate" [value]="0"> </mat-progress-bar>
          </div>
          <button [disabled]="!(file$ | async).size" color="primary" mat-raised-button>PROCESSAR</button>
          <button [disabled]="!(file$ | async).size" (click)="reset()" color="warn" mat-raised-button>CANCELAR</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <div class="database-info">
          <ul>
            <li>Tamanho da base de dados (Mb): </li>
            <li>Quantidade de atributos:</li>
            <li>Quantidade de linhas:</li>
            <li>Tempo de processamento:</li>
            <li>Taxa de acuracia:</li>
          </ul>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div class="attribute-sample">
          <table mat-table #table [dataSource]="dataSource">
            <caption style="display: none">
              Amostra de atributos
            </caption>
            <ng-container matColumnDef="column">
              <th mat-header-cell *matHeaderCellDef scope="col">
                Amostra de atributos
              </th>
              <td mat-cell *matCellDef="let row">{{ row.column }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['column']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['column']"></tr>
          </table>
          <div class="no-data" *ngIf="true">Sem dados a serem exibidos</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
</div>