
<div class="main">
    <qosc-header></qosc-header>
    <div class="content">
        <mat-tab-group>
            <mat-tab label="Atributos Originais">
                <qosc-original-attributes></qosc-original-attributes>
            </mat-tab>
            <mat-tab label="Atributos Reduzidos">
                <qosc-reduced-attributes></qosc-reduced-attributes>
            </mat-tab>
            <mat-tab label="Comparativo" disabled>
                <qosc-comparative></qosc-comparative>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>