.reduced-attributes{
    margin: 1em;

    ul{
        width: 100%;
        height: 100%;
        list-style: none;
        padding-left: 0;
        li{
            margin-bottom: 1.5rem;
            
        }
    }

    .file{
        display: block;
        width: 100%;
        height: 100%;

        div{
            margin-bottom: 1em;
        }

        button{
            margin: 1em 1em 0 0; 
        }
    }
}